$accent-color: #2196f3;
$bg-color: #ffffff;
$font-color: #757575;
$links-color: #212121;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$team-bg-color: #f5f4fa;
$social-links-color: #afb1b8;

$font-family-roboto: Roboto, sans-serif;
$font-family-raleway: Raleway, sans-serif;
$font-style-normal: normal;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;
$font-weight-900: 900;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-26: 26px;
$font-size-36: 36px;
$font-size-44: 44px;
